<section class="section">
  <div class="container">
    <div class="hero">
      <div class="hero__icon-title">
        <svg id="mySVG" class="hero__icon" width="38" height="38">
          <use href="./img/sprite.svg#icon-sun"></use>
        </svg>
        <h1 class="hero__title">
          Get <span class="hero__title-part">Body</span> in <br />shape, Stay
          healthy
        </h1>
        <img
          class="hero__pic"
          src="./img/filter.jpg"
          srcset="./img/filter@2x.jpg 2x"
          alt="young women doing fitness outdoors together"
          width="765"
          height="400"
          loading="lazy"
        />
      </div>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle.
      </p>

      <picture class="hero__image">
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/take-five-mb.jpg    1x,
            ./img/take-five-mb@2x.jpg 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/take-five-mb.jpg    1x,
            ./img/take-five-mb@2x.jpg 2x
          "
        />

        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            ./img/take-five-tb.jpg    1x,
            ./img/take-five-tb@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/take-five.jpg    1x,
            ./img/take-five@2x.jpg 2x
          "
        />
        
        <img
          src="./img/take-five-mb.jpg"
          alt="women sportswear working out outdoors"
          width="335" 
          height="380"
          fetchpriority="high"
          loading="lazy"
        />
      </picture>

      <ul class="hero__hashtags">
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/sport/"
            target="_blank"
            >#Sport</a
          >
        </li>
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/healthy/"
            target="_blank"
            >#Healthy</a
          >
        </li>
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/workout/"
            target="_blank"
            >#Workout</a
          >
        </li>
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/diet/"
            target="_blank"
            >#Diet</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>