/* FOLDER BASE */
@import url('./base/fonts.css');
@import url('./base/colors.css');
@import url('./base/cursors.css');

/* FOLDER UTILS */
@import url('./utils/command.css');
@import url('./utils/reset.css');

/* FOLDER LAYOUTS */
@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/trainings.css');
@import url('./layout/footer.css');
@import url('./layout/training-popup.css');
@import url('./layout/rating-popup.css');
@import url('./layout/fab-to-top.css');
@import url('./layout/in-progress.css');
@import url('./layout/favorites.css');
@import url('./layout/bmi-popup.css');